<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>

  <% include ../partials/_header.ejs %>
</head>
<body style="font-size:20px; padding:50px;">
  <a href="/urls/new"> New short URL </a>

  <% if (token) { %>

  <div>
    <ul>
      <% for (url in urls) { %>
        <li> <%= url %> : <%= urls[url] %> </li><br>
        <form method="POST" action="/urls/<%= url %>/delete">
          <button> Delete </button>
        </form>
        <a href="/urls/<%= url %>" > Edit </a>
      <% } %>
    </ul>
  </div>
  <% } %>
</body>
</html>