<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>

  <% include ../partials/_header.ejs %>
</head>
<body style="font-size:20px; padding:50px">

  <% if (token) { %>

  <button style="margin-top:20px;">
    <a href="/urls/new">New Link</a>
  </button>
  <div>
    <table class="table table-dark" style="margin-top:20px">
      <thead>
        <tr>
          <th scope="col"> </th>
          <th scope="col"> Link </th>
          <th scope="col"> Website </th>
          <th scope="col">  </th>
          <th scope="col">  </th>
        </tr>
      </thead>
      <tbody>
        <% for (let url in urls) { %>
          <tr>
            <th scope="row"> </th>
              <td> <%= url %> </td>
              <td> <%= urls[url] %> </td>
              <td>
                <button>
                  <a href="/urls/<%= url %>" > Edit </a>
                </button>
              </td>
              <td>
                <form method="POST" action="/urls/<%= url %>/delete">
                  <button type="delete" class="btn btn-danger"> Delete </button>
                </form>
              </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <% } else { %>
    <p> Welcome to TinyApp! Please login to begin. </p>
  <% } %>
</body>
</html>